<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Eat Da Burger</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Eat Da Burger!</h1>
            <p class="lead">All you gotta do is add a burger and eat it :)</p>
        </div>
    </div>
    <hr>
    <main>
        {{{ body }}}
    </main>
    <hr>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Type a burger" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button class="btn btn-success" type="button">Save it to the menu</button>
        </div>
    </div>
    <hr>
    <nav class="navbar fixed-bottom navbar-dark">
        <a class="navbar-brand" href="#!">Created by Dag David Osei</a>
    </nav>
</body>

</html>